* {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

.header {
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  height: 63px;
  width: 1020px;
  /* padding-top: 30px;  */
  background: #353535;
}

.left-nav {   
  display: flex;
  justify-content: flex-end;
  width: 200px;
  text-align: center;
}

.right-nav { 
  display: flex;
  justify-content: flex-start;
  width: 200px; 
  text-align: center;
}   

a {
  text-decoration: none;
  color: #d6d6d6;
}

a:hover {
  color: #2eb398;
}

.main { 
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bad1ca;
  width: 1020px;
} 

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 50px 0 50px;
  border-color: #353535 transparent transparent transparent;
  display: flex;
  align-self: center;
}

.slider {
  display: flex;
  flex-direction: column;
  height: 720px;
  padding: 65px 15px;
}

.slider-row {
  display: flex;
  flex-direction: row;
  margin-bottom: -51px;
}

.slider-row:nth-child(1) {
  padding-left: 100px;
  padding-bottom: 0px;
}

.slider-row:nth-child(3) {
  padding-left: 100px;
  padding-bottom: 0px;
}

.item {
  width: 182px;
  height: 209px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin: 9px;
}

.slider-row:nth-child(1) .item:nth-child(1) {
  background: url("./images/1.png");
}

.slider-row:nth-child(1) .item:nth-child(2) {
  background: url("./images/2.png");
}

.slider-row:nth-child(1) .item:nth-child(3) {
  background: url("./images/3.png");
}

.slider-row:nth-child(1) .item:nth-child(4) {
  background: url("./images/4.png");
}

.slider-row:nth-child(2) .item:nth-child(1) {
  background: url("./images/5.png");
}

.slider-row:nth-child(2) .item:nth-child(2) {
  background: url("./images/6.png");
}

.slider-row:nth-child(2) .item:nth-child(3) {
  background: url("./images/7.png");
}

.slider-row:nth-child(2) .item:nth-child(4) {
  background: url("./images/8.png");
}

.slider-row:nth-child(2) .item:nth-child(5) {
  background: url("./images/9.png");
}

.slider-row:nth-child(3) .item:nth-child(1) {
  background: url("./images/10.png");
}

.slider-row:nth-child(3) .item:nth-child(2) {
  background: url("./images/11.png");
}

.slider-row:nth-child(3) .item:nth-child(3) {
  background: url("./images/12.png");
}

.slider-row:nth-child(3) .item:nth-child(4) {
  background: url("./images/13.png");
}

.profile {
  height: 341px;
  background: #2eb398;
  display: flex;
  align-items: center;
  /* padding-left: 30px;  */
  width: 1020px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.text1 {
  font-family: sans-serif;
  font-size: 22px;
  }

.text2 {
  font-family: sans-serif;
  font-size: 17px;
}

p {
  font-family: sans-serif;
  font-size: 12px;
}

.social {
  display: flex;
  align-self: flex-end;
  padding-bottom: 40px;
}

.profile-photo {
  flex-shrink: 0;
  width: 182px;
  height: 209px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: url("./images/14.png");
  background-position: -115px 1px; 
}

.contact {
  display: flex;
  flex-direction: row;
  height: 564px;
  background: #323232;
  /* padding: 30px 50px; */
  width: 1020px;
}

.bottom {
  /* display: flex; */
  align-self: flex-end;
  background: #2eb398;
  color: #b4eadf;
  width: 90px;
  height: 37px;
  border: none;
}

.name, 
.email, 
.subject,
.message {
  width: 580px;
  padding: 7px 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
  background: #454545;
  border: 0;
}

.message {
  height: 150px;
  resize: none;
}

::placeholder {
  color: #bebebe;
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 580px;
}

.leftPart {
  padding-left: 50px; 
}

.RightPart {
  /* width: 180px; */
  padding: 40px 20px;
}

.RightPart a {
  color: #bebebe;
}

.footer {
  background-color: #222222;
  color: #353535;
  height: 43px;
  width: 1020px;
}